<ul id="applied-configuration-list" class="sortable-list">
	<% @computer.applied_configurations.each do |ac| %>
		<li id="item_<%= ac.id %>" class="<%= cycle("even", "odd") %>", ondblclick=>
			<%= ac.configuration.name %>	
		</li>
	<% end %>
</ul>
<%= sortable_element "applied-configuration-list", 
		:url 		=>	{
							:action => "sort", 
							:id => @computer
						},
		:complete 	=> visual_effect(:highlight, "applied-configuration-list")
%>