body { 
	background-color: 	#99a; 
	color:	 			#333;
	font-family: 		verdana, arial, helvetica, sans-serif;
	font-size:   		13px;
	line-height: 		18px; 
}

#controller_tabs ul{
	list-style-type: none;
	height: 23px;
	padding: 0px;
	margin: 0px;
}
#controller_tabs ul li {
	background-color: white;
	height:17px;
	padding: 3px;
	margin-right: 3px;
	float: left;
}
#controller_tabs ul li.active {
	background-color: #ECF;
}
table.config_package_table tr {
	min-height: 60px;
}
table.config_package_table th {
	width: 50px;
}
table.config_package_table td {
	width: 250px;
	overflow: auto;
	vertical-align: top;
}
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
ul {
	cursor: move;
}

div#main {
	padding: 15px;
	background-color: #ECF;
	width: 800px;
}
th {
	text-align: left;
}
td {
	padding: 3px;
}

.odd {
	background-color: #FFF;
}
.even {
	background-color: #AAA;
}